* {
    margin: 0;
    padding: 0;
    font-family: "Share Tech";
    color: #183b4e;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F3F3E0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    backdrop-filter: blur(15px);
     background-color: rgba(243, 243, 224, 0.5);
}
a {
    text-decoration: none;
}
h1 {
    color: #183b4e;
}
.nav {
    font-size: 15px;
    font-weight: bold;
    background-color: #183b4e;
    color: #F3F3E0;
    cursor: pointer;
    margin-bottom: 5px;
    transition: opacity 0.3s ease;
}
.nav:hover {
    opacity: 0.7;
}
.nav:active {
    opacity: 0.5;
}
.nav.about {
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 10px;
    margin-right: 7px;
}
.nav.hmif {
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 10px;
}
.header {
    margin-top: 10px;
}

img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 45px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    color: #183b4e;
}
.main.nama {
    font-size: 20px;
    margin-top: 4px;
}

.footer {
    text-align: center;
    margin-top: auto;
}

@media (max-width: 926px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .deskripsi {
        margin-top: 50px;
    }
}